<app-add-task
    (onAddTask)="addTask($any($event))"
></app-add-task>
<hr>
<div class="form-control">
    <input 
        type="text" 
        name="text" 
        [(ngModel)]="search" 
        id="search" 
        placeholder="Search a task"
        autocomplete="false"
    >
</div>
<div class="form-control form-control-inline">
    <div>
        <label for="sort-latest">Latest</label>
        <input 
            (change)="sort = 'desc'"
            type="radio" 
            id="sort-latest" 
            name="sort"
            [checked] = "latest"
        >
    </div>
    <div>
        <label for="sort-oldest">Oldest</label>
        <input 
            (change)="sort = 'asc'"
            type="radio" 
            id="sort-oldest" 
            name="sort"
            [checked] = "!latest"
        >
    </div>
</div>
<app-task-item 
    *ngFor="let task of fireTasks | async | filter:search | sort: ['updated_at', sort]" 
    [task]="task"
    (onDeleteTask) ="deleteTask(task)"
    (onToggleReminder) = "toggleReminder(task)"
></app-task-item>
<app-snackbar
    [toggle] ="snackBarToggle"
    [message] ="snackBarMessage"
></app-snackbar>