.task {
    background: #f4f4f4;
    margin: 15px 5px;
    padding: 15px 20px;
    cursor: pointer;
    box-shadow: 0px 3px 7px #bebebe;
  }

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task .created-at {
  font-size: 8px;
}